html {
    font-size: 62.5%;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8;
    margin: 0;
    background-color: #E9EDEE;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h3 {
    font-size: 1em;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style: none;
}

.inlineBlock {
    display: inline-block;
}

.shortLink {
    font-size: 1.17em;
    color: #5B95A1;
    font-weight: bold;
    margin-left: 1em;
}

header {
    background-image: linear-gradient(180deg, #222F3F, #222F3F);
    width: 100%;
}

header .contLogo {
    width: 8em;
    height: 4em;
    margin-left: 3em;
    padding-block: 0.5em;
}

header .contLogo img {
    width: 100%;

}

nav {
    background-color: #364757;
}

nav ul {
    padding-inline-start: 3em;
    padding-block: 0.5em;
}


nav ul li {
    display: inline-block;
    margin-inline-end: 1em;
}

main {
    width: 100%;
    padding: 3em;
    text-align: center;
}

main button {
    width: 100%;
    background-image: linear-gradient(180deg, #F38842, #F06802);
    border: none;
    color: #fff;
    display: block;
    line-height: 2.5;
    border-radius: 2px;
}

main .sign {
    background-image: url(../assets/bg-image.png);
    background-repeat: repeat;
    background-position: 0% 0%;
    width: 100%;
    height: 14em;
    margin-block: 3em;
    color: #fff;
    text-align: center;
    padding-block-start: 5em;
    border-radius: 2px;
}

.giftSection {
    text-align: left;
    padding-inline: 2em;
    background-color: #fff;
    padding-block: 1em;
    border-radius: 2px;
    box-shadow: 0px 0px 1px #000;
}

.contBox .giftBox {
    display: inline-block;
    width: 23em;
    height: 30em;
}

.contBox .giftBox:not(:last-child) {
    margin-inline-end: 1.8em;
}

.contBox .giftBox img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 1px 1px 5px #000;
}

main #poster1 {
    background-image: url(../assets/img_9.png);
}

main #poster2 {
    background-image: url(../assets/img_10.png);
}

main .poster {
    margin-block-start: 3em;
    width: 100%;
    height: 30em;
    background-position: 50% 80%;
    box-shadow: 1px 1px 2px #000;
    background-size: cover;
}

footer {
    background-image: linear-gradient(180deg, #222F3F, #222F3F);
    text-align: center;
}

footer .backUp {
    background-color: #364757;
}

footer .backUp a {
    text-decoration: underline;
    line-height: 3;
    font-weight: bold;
}

footer .contLogoFooter {
    width: 20%;
    margin-inline: auto;
    padding-block: 3em;
}

footer .contLogoFooter img {
    width: 10em;
}